body {
    background-image: url("binary.jpg");
}
.center {
    text-align: center;
  }
  ul {
      list-style: none;
      padding: 0;
  }
  img {
      display: inline;
      width: 200px;
      height: 100px;
  }
  #input-parent {
      width: 160px;
      margin: 5% auto 50px; 
      position: relative;
  }
  #player-input {
    margin: 0 auto 5px auto; 
    border-radius: 50%;
    height: 160px;
    width: 160px;
    font-size: 60px;
  }
  #submit {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 110px;
      left: 110px;
  }
  #footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      position: fixed;
      bottom: 0;
  }
  .guess {
    display: inline; 
    border: solid 1px black;
    border-radius: 10%;
    font-size: 60px;
    padding:0 25px;
    background-color: white;
  }
  #app {
    width: 60%;
    margin: 50px auto;
    background-color: rgba(256,256,256,0.5);
  }